# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml 'i3/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('i3:lookup'))
%}
{% do default_settings.i3.update(os_family_map) %}

{% set i3 = salt['pillar.get'](
        'i3',
        default=default_settings.i3,
        merge=True
    )
%}
